.main-title {
    margin: 0 auto;
    margin-top: 30px;
    width: 95%;
}

.main-title > p {
    text-align: center;
}

.search-form {
    justify-content: center;
    display: flex;
}

.founded_data {
    margin: 0 auto;
    width: 95%;
    display: none;
}

.info_message {
    margin: 0 auto;
    margin-top: 30px;
    width: 95%;
    display: none;
}
