{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="jumbotron main-title">
            <p class="lead">WEB-приложение, благодаря которому вы всегда сможете найти свой рейс</p>
            <hr class="my-4">
            <div class="search-form col-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Откуда</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Куда</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Когда</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <button type="submit" class="btn btn-primary">Найти рейсы</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
